:root {
    --main--color: #ff0052;
}

body {
    font-family: 'Cairo', sans-serif;
}


/* start main page css--- */

.main-page {
    min-height: 100vh;
    background-image: url(../imgs/1.jpg);
    background-size: cover;
}

.main-page .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.header {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    padding: 10px;
}

.header .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
}

.header .links {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-left: 0;
    padding-right: 20px;
    font-size: 15;
    direction: rtl;
}

.header .links li {
    display: inline-block;
    margin-left: 10px;
}

.header .links li a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.header .links li a:hover,
.header .links li a.active {
    color: var(--main--color);
}

.descrip {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}

.descrip h1 {
    font-size: 34px;
    margin: 0 0 12px;
}

.descrip h1 span {
    color: var(--main--color);
}

.descrip p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}


/* start main page css--- */